@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1C1C1E;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}

@media (min-width: 768px) {
  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 250px;
    height: 75vh;
    margin-left: 12%;
  }
}

@media (max-width: 768px) {
  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 250px;
    height: 65vh;
  }
}

@media (min-width: 768px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 10vw;
    height: 100vh;
    position: fixed;
    color: teal;
    height: 90%;
    margin-top: 10%;
  }
}

@media (min-width: 768px) {
  .navBar {
    height: 8vh;
    overflow: hidden;
    position: fixed;
    background-color: #1C1C1E;
    top: 0;
    width: 100%;
    color: #dadada;
    font-family: 'Fira Code', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #2c2c2e;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .navBar {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbarTwo {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbarTwo {
    background: #1c1c1e;
    font-family: 'Fira Code', monospace;
    position: fixed;
    width: 100vw;
    z-index: 2;
    border-bottom: 1px solid #2c2c2e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .contactText {
    color: darkgray;
    width: 75vw;
  }
}

@media (min-width: 768px) {
  .contactText {
    color: darkgray;
    width: 40vw;
  }
}

@media (min-width: 768px) {
  .defaultProjects {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .defaultProjects {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobileProjects {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .mobileProjects {
    display: none;
  }
}

/* .navBar {
  height: 8vh;
  overflow: hidden;
  position: fixed;
  background-color: #1C1C1E;
  top: 0;
  width: 100%;
  color: #dadada;
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
} */

.navBar li:hover {
  color: teal;
}

.navBar ul {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navBar li {
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

.aboutAnchor {
  display: block;
  position: relative;
  top: 25vh;
  visibility: hidden;
}

.projectsAnchor {
  display: block;
  position: relative;
  top: 15vh;
  visibility: hidden;
}

#blurdiv {
    -webkit-backdrop-filter: blur(5px) contrast(100%);
    backdrop-filter: blur(5px) contrast(100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@layer components {
  .hamburger #one {
    @apply rotate-45 translate-y-1.5;
  }
  .hamburger #two {
    @apply -rotate-45 -translate-y-1;
  }
  .hamburger #three {
    @apply hidden;
  }
}